.dynamicBorder {
    border-radius: 50%;
    cursor: pointer;
    /*Другой вариант без useState*/
    /*background-image: linear-gradient(to right, #35e723, #415dee);*/
    /*transition: background-image 0.3s ease-in-out;*/
}

/*.dynamicBorder:hover {*/
/*    background-image: linear-gradient(to right, #415dee, #35e723);*/
/*}*/

.imgContainer {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid red;
    margin: 6px;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

